
.boxArticulo{
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
.boxArticulo:hover{
    border: 1px solid rgba(125, 5, 134, 0.756);
}

.fotoVino{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.viewCartItems figure{
    position: relative;
    top: 10px;
    width: 100%;
    height: 80%;
    margin: 0px 0px 5px 0px;
}
.boxDetalleArticulo{
    padding: 5px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
.titleArticulo{
    width: 100%;
    font-family: 'Playfair Display SC', serif;
    margin: 0px 0px 0px 0px; 
}
.textArticulo{
    margin: 0px;
    font-family: 'Kameron', serif; 
    font-size: 17px;
    line-height: 1.2;
}
.boxPrinceCount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}
.precioArticulo{
    width: 4em;
    font-size: 1.5em;
    font-family: 'Kameron', serif;   
    margin: 0px 0px 0px 0px;
}
.boxPrinceCount button{
    width: 80px;
    height: 2em;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: #eee;
    cursor: pointer;
}
